pipeline/Healthcare_Ingest_Demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>different template with single ingest pipe</description><name>NiFi template</name><snippet><controllerServices><id>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</id><comments></comments><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>DistributedMapCacheClientService</name><properties><entry><key>Server Hostname</key><value>localhost</value></entry><entry><key>Server Port</key><value>4557</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to get the cached values.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Put Cache Value In Attribute</key><value><description>If set, the cache value received will be put into an attribute of the FlowFile instead of a the content of theFlowFile. The attribute key to put to is determined by evaluating value of this property.</description><displayName>Put Cache Value In Attribute</displayName><dynamic>false</dynamic><name>Put Cache Value In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the cache value to an attribute of the FlowFile (by setting the &quot;Put Cache Value in attribute&quot; property), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the cached value is encoded. This will only be used when routing to an attribute.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>c65a7f05-a0a7-4582-a05f-aca7f036e038</id><name>FetchDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>*</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Put Cache Value In Attribute</key><value>new-cache-id</value></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type><validationErrors>'Relationship success' is invalid because Relationship 'success' is not connected to any component and is not auto-terminated</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>FlowFile Description</key><value><defaultValue></defaultValue><description>When a FlowFile is added to the cache, this value is stored along with it so that if a duplicate is found, this description of the original FlowFile will be added to the duplicate's &quot;original.flowfile.description&quot; attribute</description><displayName>FlowFile Description</displayName><dynamic>false</dynamic><name>FlowFile Description</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Age Off Duration</key><value><description>Time interval to age off cached FlowFiles</description><displayName>Age Off Duration</displayName><dynamic>false</dynamic><name>Age Off Duration</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to cache unique identifiers, used to determine duplicates</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache The Entry Identifier</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>When true this cause the processor to check for duplicates and cache the Entry Identifier. When false, the processor would only check for duplicates and not cache the Entry Identifier, requiring another processor to add identifiers to the distributed cache.</description><displayName>Cache The Entry Identifier</displayName><dynamic>false</dynamic><name>Cache The Entry Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>9b227d4f-e962-4ba5-ab2b-f7687a4febf3</id><name>DetectDuplicate</name><properties><entry><key>Cache Entry Identifier</key><value>${patient}-${metric}</value></entry><entry><key>FlowFile Description</key><value>${patient}-${metric}-${value}</value></entry><entry><key>Age Off Duration</key><value>60 secs</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Cache The Entry Identifier</key><value>true</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.DetectDuplicate</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>cd30cef4-0eea-46bf-b87f-6bf52cc43391</id><name>PutDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>${patient}-${metric}</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Cache update strategy</key><value>replace</value></entry><entry><key>Max cache entry size</key><value>1 MB</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type><validationErrors>'Upstream Connections' is invalid because Processor requires an upstream connection but currently has none</validationErrors></referencingComponents><state>ENABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></controllerServices><processGroups><id>3c7758f1-a5c7-4b4d-823f-95257cb45908</id><parentGroupId>307c0868-22f4-4ccb-8e73-07f2b599de7f</parentGroupId><position><x>236.0</x><y>261.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>4c68f098-f8fb-4063-b56f-e44c4bef0237</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>9b227d4f-e962-4ba5-ab2b-f7687a4febf3</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>3be317f6-9b24-4af0-a5ce-16dca4727180</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>dc568e65-686d-4114-b6f0-c6336186ee9f</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>20755544-6a8e-4944-9241-ae82c0247f16</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>non-duplicate</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>9b227d4f-e962-4ba5-ab2b-f7687a4febf3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9b69363e-8322-40dc-872a-4a10d304077f</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>3be317f6-9b24-4af0-a5ce-16dca4727180</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>efc83ce3-4767-4e7c-9ecb-2060969be90b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7c503c3d-0e3d-4421-9e56-cee5e3f601c5</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>efc83ce3-4767-4e7c-9ecb-2060969be90b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>b909d994-91fc-45a8-a979-11ab86975c13</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a285e8dc-2ab3-4351-a41e-cf50afb82258</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>e5503b54-db41-4264-9b74-7b8a23f962f4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>cf23b62f-8269-4cab-98cd-808e0230dfd1</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6dc843f6-d6a2-474e-91c7-040db930415e</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>c65a7f05-a0a7-4582-a05f-aca7f036e038</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>cd30cef4-0eea-46bf-b87f-6bf52cc43391</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b5822d84-f7d1-4306-b5c0-7fd65d738c9b</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>3a77d173-0980-4f82-9640-db160cf31c5c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>merged</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>20755544-6a8e-4944-9241-ae82c0247f16</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>325bd72f-6e58-44f3-a0c5-624851eb4941</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>3a77d173-0980-4f82-9640-db160cf31c5c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>non-duplicate</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>9b227d4f-e962-4ba5-ab2b-f7687a4febf3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>946d3201-fdd9-421f-8ad0-28d8b8ce45c4</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>b909d994-91fc-45a8-a979-11ab86975c13</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</groupId><id>e5503b54-db41-4264-9b74-7b8a23f962f4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>3be317f6-9b24-4af0-a5ce-16dca4727180</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>608.3000122070313</x><y>265.700015258789</y></position><config><annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;value&lt;/attribute&gt;
            &lt;id&gt;4fb7f004-6e95-45c1-8db6-1462d083f5bd&lt;/id&gt;
            &lt;value&gt;${heart_rate}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;metric&lt;/attribute&gt;
            &lt;id&gt;cecf3ede-4ae9-4f31-82b6-d651c1ee2f93&lt;/id&gt;
            &lt;value&gt;heart_rate&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${heart_rate:isEmpty():not()}&lt;/expression&gt;
            &lt;id&gt;3657fb87-4cf3-4a1d-a99e-307e28208e5e&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;dbefd44d-55f9-4e06-abf0-d73ebe224300&lt;/id&gt;
        &lt;name&gt;heart_rate&lt;/name&gt;
    &lt;/rules&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;value&lt;/attribute&gt;
            &lt;id&gt;91834fa6-84ac-422f-a064-d0057535b069&lt;/id&gt;
            &lt;value&gt;${blood_pressure_rate}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;metric&lt;/attribute&gt;
            &lt;id&gt;cecf3ede-4ae9-4f31-82b6-d651c1ee2f93&lt;/id&gt;
            &lt;value&gt;blood_pressure&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${blood_pressure_rate:isEmpty():not()}&lt;/expression&gt;
            &lt;id&gt;3657fb87-4cf3-4a1d-a99e-307e28208e5e&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;e46d5661-c6de-4ebd-be8d-1488851af74f&lt;/id&gt;
        &lt;name&gt;blood_pressure_rate&lt;/name&gt;
    &lt;/rules&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;value&lt;/attribute&gt;
            &lt;id&gt;151cb132-abbe-4059-80a5-ee8f1f59f7dd&lt;/id&gt;
            &lt;value&gt;${oxygen_saturation}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;metric&lt;/attribute&gt;
            &lt;id&gt;cecf3ede-4ae9-4f31-82b6-d651c1ee2f93&lt;/id&gt;
            &lt;value&gt;oxygen_saturation&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${oxygen_saturation:isEmpty():not()}&lt;/expression&gt;
            &lt;id&gt;3657fb87-4cf3-4a1d-a99e-307e28208e5e&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;22550d4d-71a4-4b58-bfd0-e4763eba185d&lt;/id&gt;
        &lt;name&gt;oxygen_rate&lt;/name&gt;
    &lt;/rules&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;metric&lt;/attribute&gt;
            &lt;id&gt;cecf3ede-4ae9-4f31-82b6-d651c1ee2f93&lt;/id&gt;
            &lt;value&gt;respiratory_rate&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;value&lt;/attribute&gt;
            &lt;id&gt;34e4b995-969c-4a8c-a419-734ed303d5d9&lt;/id&gt;
            &lt;value&gt;${respiratory_rate}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${respiratory_rate:isEmpty():not()}&lt;/expression&gt;
            &lt;id&gt;3657fb87-4cf3-4a1d-a99e-307e28208e5e&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;393b4433-d712-4275-9340-9723f850670f&lt;/id&gt;
        &lt;name&gt;respiratory_rate&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>cd30cef4-0eea-46bf-b87f-6bf52cc43391</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>251.86380177872013</x><y>533.40399431919</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>${patient}-${metric}</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Cache update strategy</key><value>replace</value></entry><entry><key>Max cache entry size</key><value>1 MB</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutDistributedMapCache</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be inserted into the cache will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully inserted into cache will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type></processors><processors><id>c65a7f05-a0a7-4582-a05f-aca7f036e038</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>609.5083525239459</x><y>532.0078545419113</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to get the cached values.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Put Cache Value In Attribute</key><value><description>If set, the cache value received will be put into an attribute of the FlowFile instead of a the content of theFlowFile. The attribute key to put to is determined by evaluating value of this property.</description><displayName>Put Cache Value In Attribute</displayName><dynamic>false</dynamic><name>Put Cache Value In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the cache value to an attribute of the FlowFile (by setting the &quot;Put Cache Value in attribute&quot; property), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the cached value is encoded. This will only be used when routing to an attribute.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>*</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Put Cache Value In Attribute</key><value>new-cache-id</value></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchDistributedMapCache</name><relationships><autoTerminate>true</autoTerminate><description>If unable to communicate with the cache or if the cache entry is evaluated to be blank, the FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile's Cache Entry Identifier was not found in the cache, it will be routed to this relationship</description><name>not-found</name></relationships><relationships><autoTerminate>false</autoTerminate><description>If the cache was successfully communicated with it will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type></processors><processors><id>20755544-6a8e-4944-9241-ae82c0247f16</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>1303.2127643828444</x><y>179.90121311652376</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Merge Strategy</key><value><allowableValues><description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description><displayName>Bin-Packing Algorithm</displayName><value>Bin-Packing Algorithm</value></allowableValues><allowableValues><description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description><displayName>Defragment</displayName><value>Defragment</value></allowableValues><defaultValue>Bin-Packing Algorithm</defaultValue><description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Format</key><value><allowableValues><description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description><displayName>TAR</displayName><value>TAR</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description><displayName>ZIP</displayName><value>ZIP</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description><displayName>FlowFile Stream, v3</displayName><value>FlowFile Stream, v3</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description><displayName>FlowFile Stream, v2</displayName><value>FlowFile Stream, v2</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description><displayName>FlowFile Tar, v1</displayName><value>FlowFile Tar, v1</value></allowableValues><allowableValues><description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Binary Concatenation</displayName><value>Binary Concatenation</value></allowableValues><allowableValues><description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Avro</displayName><value>Avro</value></allowableValues><defaultValue>Binary Concatenation</defaultValue><description>Determines the format that will be used to merge the content.</description><displayName>Merge Format</displayName><dynamic>false</dynamic><name>Merge Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attribute Strategy</key><value><allowableValues><displayName>Keep Only Common Attributes</displayName><value>Keep Only Common Attributes</value></allowableValues><allowableValues><displayName>Keep All Unique Attributes</displayName><value>Keep All Unique Attributes</value></allowableValues><defaultValue>Keep Only Common Attributes</defaultValue><description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description><displayName>Attribute Strategy</displayName><dynamic>false</dynamic><name>Attribute Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Correlation Attribute Name</key><value><description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description><displayName>Correlation Attribute Name</displayName><dynamic>false</dynamic><name>Correlation Attribute Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Number of Entries</key><value><defaultValue>1</defaultValue><description>The minimum number of files to include in a bundle</description><displayName>Minimum Number of Entries</displayName><dynamic>false</dynamic><name>Minimum Number of Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Number of Entries</key><value><description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description><displayName>Maximum Number of Entries</displayName><dynamic>false</dynamic><name>Maximum Number of Entries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Group Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size of for the bundle</description><displayName>Minimum Group Size</displayName><dynamic>false</dynamic><name>Minimum Group Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Group Size</key><value><description>The maximum size for the bundle. If not specified, there is no maximum.</description><displayName>Maximum Group Size</displayName><dynamic>false</dynamic><name>Maximum Group Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Bin Age</key><value><description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description><displayName>Max Bin Age</displayName><dynamic>false</dynamic><name>Max Bin Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum number of Bins</key><value><defaultValue>100</defaultValue><description>Specifies the maximum number of bins that can be held in memory at any one time</description><displayName>Maximum number of Bins</displayName><dynamic>false</dynamic><name>Maximum number of Bins</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delimiter Strategy</key><value><allowableValues><description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description><displayName>Filename</displayName><value>Filename</value></allowableValues><allowableValues><description>The values of Header, Footer, and Demarcator will be specified as property values</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Filename</defaultValue><description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description><displayName>Delimiter Strategy</displayName><dynamic>false</dynamic><name>Delimiter Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header File</key><value><description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Header</displayName><dynamic>false</dynamic><name>Header File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Footer File</key><value><description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Footer</displayName><dynamic>false</dynamic><name>Footer File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Demarcator File</key><value><description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Demarcator</displayName><dynamic>false</dynamic><name>Demarcator File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Path</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description><displayName>Keep Path</displayName><dynamic>false</dynamic><name>Keep Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Merge Strategy</key><value>Bin-Packing Algorithm</value></entry><entry><key>Merge Format</key><value>Binary Concatenation</value></entry><entry><key>Attribute Strategy</key><value>Keep All Unique Attributes</value></entry><entry><key>Correlation Attribute Name</key><value>patient</value></entry><entry><key>Minimum Number of Entries</key><value>4</value></entry><entry><key>Maximum Number of Entries</key><value>4</value></entry><entry><key>Minimum Group Size</key><value>0 B</value></entry><entry><key>Maximum Group Size</key></entry><entry><key>Max Bin Age</key></entry><entry><key>Maximum number of Bins</key><value>100</value></entry><entry><key>Delimiter Strategy</key><value>Filename</value></entry><entry><key>Header File</key></entry><entry><key>Footer File</key></entry><entry><key>Demarcator File</key></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Keep Path</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>MergeContent</name><relationships><autoTerminate>true</autoTerminate><description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFile containing the merged content</description><name>merged</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The FlowFiles that were used to create the bundle</description><name>original</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.MergeContent</type></processors><processors><id>cf23b62f-8269-4cab-98cd-808e0230dfd1</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>99.0</x><y>65.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>/tmp/vitals</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetFile</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors><processors><id>9b227d4f-e962-4ba5-ab2b-f7687a4febf3</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>998.2409057617188</x><y>42.565487670898506</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>FlowFile Description</key><value><defaultValue></defaultValue><description>When a FlowFile is added to the cache, this value is stored along with it so that if a duplicate is found, this description of the original FlowFile will be added to the duplicate's &quot;original.flowfile.description&quot; attribute</description><displayName>FlowFile Description</displayName><dynamic>false</dynamic><name>FlowFile Description</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Age Off Duration</key><value><description>Time interval to age off cached FlowFiles</description><displayName>Age Off Duration</displayName><dynamic>false</dynamic><name>Age Off Duration</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></allowableValues><description>The Controller Service that is used to cache unique identifiers, used to determine duplicates</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache The Entry Identifier</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>When true this cause the processor to check for duplicates and cache the Entry Identifier. When false, the processor would only check for duplicates and not cache the Entry Identifier, requiring another processor to add identifiers to the distributed cache.</description><displayName>Cache The Entry Identifier</displayName><dynamic>false</dynamic><name>Cache The Entry Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>${patient}-${metric}</value></entry><entry><key>FlowFile Description</key><value>${patient}-${metric}-${value}</value></entry><entry><key>Age Off Duration</key><value>60 secs</value></entry><entry><key>Distributed Cache Service</key><value>cfed33c3-f687-47ed-9e7b-3a3fc8e42640</value></entry><entry><key>Cache The Entry Identifier</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>DetectDuplicate</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile has been detected to be a duplicate, it will be routed to this relationship</description><name>duplicate</name></relationships><relationships><autoTerminate>true</autoTerminate><description>If unable to communicate with the cache, the FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>If a FlowFile's Cache Entry Identifier was not found in the cache, it will be routed to this relationship</description><name>non-duplicate</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.DetectDuplicate</type></processors><processors><id>3a77d173-0980-4f82-9640-db160cf31c5c</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>1103.3560180664062</x><y>440.80101013183594</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>true</value></entry><entry><key>Attributes to Log</key><value>patient,metric,value</value></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>b909d994-91fc-45a8-a979-11ab86975c13</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>103.79733276367188</x><y>351.4453125</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>blood_pressure_rate</key><value><description></description><displayName>blood_pressure_rate</displayName><dynamic>true</dynamic><name>blood_pressure_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>create_date</key><value><description></description><displayName>create_date</displayName><dynamic>true</dynamic><name>create_date</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>heart_rate</key><value><description></description><displayName>heart_rate</displayName><dynamic>true</dynamic><name>heart_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>oxygen_saturation</key><value><description></description><displayName>oxygen_saturation</displayName><dynamic>true</dynamic><name>oxygen_saturation</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>patient</key><value><description></description><displayName>patient</displayName><dynamic>true</dynamic><name>patient</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>respiratory_rate</key><value><description></description><displayName>respiratory_rate</displayName><dynamic>true</dynamic><name>respiratory_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>warn</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>blood_pressure_rate</key><value>..systolic_blood_pressure.value</value></entry><entry><key>create_date</key><value>..header.creation_date_time</value></entry><entry><key>heart_rate</key><value>..heart_rate.value</value></entry><entry><key>oxygen_saturation</key><value>..oxygen_saturation.value</value></entry><entry><key>patient</key><value>..header.user_id</value></entry><entry><key>respiratory_rate</key><value>..respiratory_rate.value</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>efc83ce3-4767-4e7c-9ecb-2060969be90b</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>555.500048828125</x><y>32.70002593994144</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>blood_pressure_rate</key><value><description></description><displayName>blood_pressure_rate</displayName><dynamic>true</dynamic><name>blood_pressure_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>create_date</key><value><description></description><displayName>create_date</displayName><dynamic>true</dynamic><name>create_date</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>heart_rate</key><value><description></description><displayName>heart_rate</displayName><dynamic>true</dynamic><name>heart_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>oxygen_saturation</key><value><description></description><displayName>oxygen_saturation</displayName><dynamic>true</dynamic><name>oxygen_saturation</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>patient</key><value><description></description><displayName>patient</displayName><dynamic>true</dynamic><name>patient</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>respiratory_rate</key><value><description></description><displayName>respiratory_rate</displayName><dynamic>true</dynamic><name>respiratory_rate</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>blood_pressure_rate</key><value>${blood_pressure_rate:replaceAll('(\[|\]|\&quot;)','')}</value></entry><entry><key>create_date</key><value>${create_date:replaceAll('(\[|\]|\&quot;)','')}</value></entry><entry><key>heart_rate</key><value>${heart_rate:replaceAll('(\[|\]|\&quot;)','')}</value></entry><entry><key>oxygen_saturation</key><value>${oxygen_saturation:replaceAll('(\[|\]|\&quot;)','')}</value></entry><entry><key>patient</key><value>${patient:replaceAll('(\[|\]|\&quot;)','')}</value></entry><entry><key>respiratory_rate</key><value>${respiratory_rate:replaceAll('(\[|\]|\&quot;)','')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e5503b54-db41-4264-9b74-7b8a23f962f4</id><parentGroupId>3c7758f1-a5c7-4b4d-823f-95257cb45908</parentGroupId><position><x>106.0</x><y>208.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Line Split Count</key><value>1</value></entry><entry><key>Header Line Count</key><value>0</value></entry><entry><key>Remove Trailing Newlines</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>2</invalidCount><name>healthcare demo 2</name><outputPortCount>0</outputPortCount><parent><id>307c0868-22f4-4ccb-8e73-07f2b599de7f</id><name>NiFi Flow</name></parent><runningCount>8</runningCount><stoppedCount>0</stoppedCount></processGroups></snippet><timestamp>05/23/2016 16:48:48 UTC</timestamp></template>